<!-- ~about_us -->
<div class="footer overlay" id="About">
    <a href="#footer" class="overlay-close"></a>
    <div class="footer-body" >
        <div class="aboutus_top">
            <h2 style="color:yellow">~ About Us</h2>
            <div><a href="#footer">X</a></div>
        </div>
        <div class="aboutus_mid">
            <div>
                <H1>We Help You Plan for The Rain</H1>
                <h2>DrizzleDex keeps you rain-ready with accurate forecasts. Access reliable updates anytime to plan your day and stay dry.</h2>
                <p>DrizzleDex was created to make rain forecasts simple and reliable.
                     Many weather predictions can be confusing, leaving people unprepared.
                      Using advanced technology, DrizzleDex transforms complex data into clear insights,
                       helping you stay one step ahead of the rain.</p>
            </div>
            <img src="../static/images/logo.png" alt="">
        </div>
        <div></div>
    </div>
</div>

<!-- ~ Term -->
<div class="footer overlay" id="term">
    <a href="#footer" class="overlay-close"></a>
    <div style="height: auto;" class="footer-body" >
        <div class="aboutus_top">
            <h2 style="color:yellow">~ Terms of Service</h2>
            <div><a href="#footer">X</a></div>
        </div>
        <div class="aboutus_mid">
            <div>
                <H1>Terms of Service for DrizzleDex</H1>
                <p>Welcome to DrizzleDex! By using our services, you agree to these terms. Please read them carefully.</p>
                <p style="font-weight: bold;">1. Use of Service:</p>
                <p>DrizzleDex, developed with dedication at RMIT University, provides rain forecasts for personal and educational use only.
                     This website is built solely for educational purposes and is not intended for commercial use or profit-making activities.</p>
                <p style="font-weight: bold;">2. Accuracy:</p>
                <p>We strive to provide accurate forecasts, but we do not guarantee complete precision.
                     Use our information as a general guide, not for making critical decisions.</p>
                <p style="font-weight: bold;">How We Use It:</p>
                <p>Your email is used to send updates, respond to inquiries, and provide information related to our services.</p>
                <p style="font-weight: bold;">3. Intellectual Property:</p>
                <p>© Copyright 2024 Developed with dedication at RMIT University. 
                    All content on DrizzleDex, including forecasts, graphics, and software,
                     is protected by copyright laws. You may not reproduce, distribute,
                      or use any content for commercial purposes without explicit permission.
                </p>
                <p style="font-weight: bold;">4. Liability:</p>
                <p>DrizzleDex is not liable for any damages resulting from the use
                     or inability to use our forecasts. Use the service at your own risk.</p>
                <p style="font-weight: bold;">5. Changes to Terms:</p>
                <p>We may update these terms periodically. Continued use of DrizzleDex after updates constitutes acceptance of the new terms.</p>
                <p style="font-weight: bold;">6. Educational Purpose:</p>
                <p>This website is built solely for educational purposes. Any commercial use, including generating profit or conducting business activities, is strictly prohibited.</p>
            </div>
            <div class="footer_logo"><img src="../static/images/term.png" alt=""></div>
        </div>
        <div></div>
    </div>
</div>

<!-- privacy -->
<div class="footer overlay" id="privacy">
    <a href="#footer" class="overlay-close"></a>
    <div style="height: auto;" class="footer-body" >
        <div class="aboutus_top">
            <h2 style="color:yellow">~ Privacy Policy</h2>
            <div><a href="#footer">X</a></div>
        </div>
        <div class="aboutus_mid">
            <div class="aboutus_mid_1">
                <H1>Privacy Policy for DrizzleDex</H1>
                <p style="font-weight: bold;">At Drizzeldex</p>
                <p>we value your privacy and are committed to protecting your personal information. This policy outlines how we handle your data.</p>
                <p style="font-weight: bold;">What We Collect:</p>
                <p>We only collect your email address when you choose to subscribe or contact us.</p>
                <p style="font-weight: bold;">How We Use It:</p>
                <p>Your email is used to send updates, respond to inquiries, and provide information related to our services.</p>
                <p style="font-weight: bold;">Sharing Your Data:</p>
                <p>We do not sell your email address. It is only shared with trusted partners who assist us in managing our communications and ensuring security.</p>
                <p style="font-weight: bold;">Security Measures:</p>
                <p>We protect your email with secure servers and encryption to prevent unauthorized access.</p>
                <p style="font-weight: bold;">Your Rights:</p>
                <p>You can unsubscribe or request deletion of your email from our records at any time by contacting us.</p>
                <p style="font-weight: bold;">Updates:</p>
                <p>This policy may be updated periodically. We will notify you of any significant changes.</p>
                <p style="font-weight: bold;">Contact Us:</p>
                <p>For questions or concerns, please email us at drizzledex.contactus@gmail.com.</p>
            </div>
            <div class="footer_logo"><img src="../static/images/privacy.png" alt=""></div>
        </div>
        <div></div>
    </div>
</div>